.top-glass3{
    left:50vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.top-glassp3{
    left:50.5vw;
    position:absolute;
    top: 292px;
    width: 97px;
    height: 20px;
    background:rgb(249, 119, 140);
    border-radius: 40% 40% 10% 10%;margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

}
.top-glass3{
    position: absolute;
    top: 262px;
    width: 100px;
    height: 130px;
    background: linear-gradient(to right,#f7f7f7, #A2B9C4,#A5C4D4,#A5C4D4 ,#A2B9C4,#f7f7f7);
    opacity: 0.5;
    border: 1px solid #a2b9c4;
    border-radius: 40% 40% 10% 10%;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.text-top-glass3{
    position: absolute;
    top: 283px;
    width: 70px;
    height: 90px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: black!important;
    font-weight: bold;
    font-size: 12px;
    font-family: Snell Roundhand, cursive !important;
}
.highlighted-text-top-glass3{
    color: dodgerblue;
    font-size: 19px;
    animation: zoom-out ease-in-out 5s infinite;
}


.glassp3{
    left:53vw;
    position:absolute;
    top: 184px;
    width: 70px;
    height: 30px;
    background:rgb(249, 119, 140);
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.middle3{
    position:absolute;
    top: 214px;
    width: 40px;
    height: 50px;
    background:linear-gradient(to right,#f7f7f7, #A2B9C4,#A5C4D4,#A5C4D4 ,#A2B9C4,#f7f7f7);
    opacity: 0.3;
    border: 1px solid #A2B9C4;
    border-bottom:0px;
    border-top: 0px;
    border-radius:40%;
    z-index:2;
    left: 57.5vw;
    overflow: hidden;margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.glass3{
    position:absolute;
    top: 110px;
    width: 95px;
    height: 105px;
    background:linear-gradient(to right,#f7f7f7, #A2B9C4,#A5C4D4,#A5C4D4 ,#A2B9C4,#f7f7f7);
    opacity: 0.5;
    border: 1px solid #A2B9C4;
    border-radius: 10% 10% 40% 40%;
    z-index:1;
}
.glass3, .band3{
    left:50.5vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.band3{
    position: absolute;
    top: 100px;
    width: 97px;
    height: 10px;
    background:rgb(249, 119, 140);
    border-radius: 20%;
    z-index: 1;
}
.band7{
    position:absolute;
    top: 392px;
    width: 100px;
    height: 10px;
    background:rgb(249, 119, 140);
    border-radius: 20%;
    z-index:1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}



.podium3{
    position:absolute;
    top: 48vh;
    width: 100px;
    height: 50px;
    opacity:.9;
    border-radius: 10% 10% 0 0;
    z-index:1;left: 50vw;
    background: repeating-linear-gradient(to right, #000000, #ffec63);margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.points6{
    left:60vw;
    animation: points-drop 3s infinite ease-in-out;margin-left: auto;
    margin-right: auto;
    right: 0;
}
.points7{
    left:61vw;
    animation: points-drop 3s infinite ease-in-out 1.25s;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}
.points8{
    left:62vw;
    animation: points-drop 4s infinite ease-in-out 2.25s;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}
.points6, .points7, .points8{
    position:absolute;
    top: 220px;
    width: 10px;
    height: 10px;
    color: rgb(249, 119, 140)!important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

@keyframes points-drop {
    0% {
        top: 220px;
    }
    50% {
        top: 260px;
    }
    100% {
        top: 372px;
    }
}
@keyframes zoom-out {
    0% {
        transform: scale(.75) translateZ(18.5px);
    }
    20% {
        transform: scale(0.83) translateZ(19px);
    }
    40% {
        transform: scale(.75) translateZ(18.5px);
    }
    50% {
        transform: scale(0.83) translateZ(18px);
    }
    65% {
        transform: scale(0.75) translateZ(18.5px);
    }
    75% {
        transform: scale(0.75) translateZ(18px);
    }
    100% {
        transform: scale(0.83) translateZ(18.5px);
    }
}