#heart-container {
    padding: 100px 0;
    height: 100vh;
    background: linear-gradient(291deg, #e40f0f, #15d4ea, #db1fb3, #63db1f);
    background-size: 800% 800%;
    -webkit-animation: moveLoadingBackground 13s ease infinite;
    -moz-animation: moveLoadingBackground 13s ease infinite;
    -o-animation: moveLoadingBackground 13s ease infinite;
    animation: moveLoadingBackground 13s ease infinite;
}


#heart-2{
    color: #db1fb3;
    animation: heartbeat 5s infinite;
    font-size: 10rem;

}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 2s infinite;
    margin: 5vh auto
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 40%;
    top: 0;
    width: 100px;
    height: 160px;
    background: #fff;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: -60%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

@keyframes heartbeat {
    0% {
        transform: scale(.75) translateZ(0);
        color:  #15d4ea;
    }
    20% {
        transform: scale(0.83) translateZ(20px);
        color: #db1fb3
    }
    40% {
        transform: scale(.75) translateZ(-10px);
        color: #63db1f
    }
    60% {
        transform: scale(0.83) translateZ(20px);
        color: #e40f0f
    }
    80% {
        transform: scale(0.75) translateZ(40px);
        color: chocolate;
    }
    100% {
        transform: scale(0.83) translateZ(-10px);
        color: black;
    }
}

@-webkit-keyframes moveLoadingBackground {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes moveLoadingBackground {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes moveLoadingBackground {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes moveLoadingBackground {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

/*input.ant-input {*/

/*    height: 3rem;*/
/*    border-radius: 10px;*/

/*}*/
.btn-grad {
    font-size: 1.75rem !important;
    border: 0;
    border-radius: 25px;
    color: black;
    padding: 10px 50px 10px 50px;
    font-family: Centaur, serif;
    font-weight: 900;

}

.btn-grad:focus{
    font-size: 1.5rem !important;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
}
.wallpaper-image{
    background-position: center center;
    backdrop-filter: blur(40px);
}

.avatar-container{
position: relative;
}
.avatar-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsl(0,0%,0%), hsl(0,0%,0%));
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.avatar-overlay:hover{
    opacity: 0.6;
}
.avatar-button{
    margin: 10px 0 10px 0;
    width: 20vw;
    height: 5vh;
    display: inline-block;
    padding: 7.5px 12.5px;
    border-radius: 2px;
    border: none;
    font-size: 14px;
}
/*.ant-upload-drag-container{*/
/*    padding: 0;*/
/*    margin: 0*/
/*}*/
/*.ant-upload .ant-upload-btn{*/

/*}*/
.mainImage{
    background-position: center center;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}
.spin{
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;

}
.vertical-timeline-element-icon > span > svg{
    margin-top: 5px !important;

}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.ant-timeline-item-head{
    background-color: transparent !important;
}
.card-deck-container  {
    background: lightblue;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto;
}
.ant-picker-date-panel{
    z-index: 2000 !important;
}
.ant-picker-header{
    z-index: 2000 !important;

}
.slick-slide{
    height: 100% !important;
}

.card-deck-container > div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-deck-container > div > div {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 300px;
    height: 85vh;
    max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}